.navbar-default {
	background-color: $primaryColour;
	border-color: $primaryColour;

	/* Menu icon when it is not in use. */
	.navbar-toggle {
		border-color: $primaryColour;

		/* Three lines for the menu icon. */
		.icon-bar {
			background-color: $secondaryColour;
		}
	}

	/* Menu icon when it is hovered over or focused on. */
	.navbar-toggle:hover, .navbar-toggle:focus {
		background-color: $primaryColour;
		border-color: $primaryColour;

		/* Three lines for the menu icon. */
		.icon-bar {
			background-color: $quaternaryColour;
		}
	}

	/* Brand including logo and name. */
	.navbar-brand {
		color: $secondaryColour;
		.logo {
			background-image: url("../images/logo.png");
			background-size: 100%;
			width: 1.2em;
			height: 1.2em;
			display: inline-block;
		}
		.name {
			display: inline-block;
			vertical-align: top;
		}
	}
	.navbar-brand:hover, .navbar-brand:focus {
		color: $quaternaryColour;
	}

	/* Nav links. */
	.navbar-nav li a {
		color: $secondaryColour;
	}
	.navbar-nav li a:hover, .navbar-nav li a:focus {
		color: $quaternaryColour;
	}
	.navbar-nav>.open>a, .navbar-nav>.open>a:hover, .navbar-nav>.open>a:focus {
		background-color: transparent;
		color: $quaternaryColour;
	}
	.navbar-nav .account {
		display: none;
	}
	.navbar-nav.signedIn {
		.account {
			display: block;
		}
		li.noAccount {
			display: none;
		}
	}

	/* Forms. */
	.dropdown-menu {
		color: $secondaryColour;
		.form-control {
			margin-bottom: 0.2rem;
		}

		/* Removes some bootstrap styling. */
		.navbar-form {
			margin: 0;
			border: none;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		@media (min-width: 768px) {
			color: $tertiaryColour;
			.form-control {
				background-color: transparent;
			}
		}
	}
}
