// Icons.
.icon {
	width: 14px;
	height: 14px;
	background-size: 100%;
	display: inline-block;
	margin-right: 3px;
}

// Cancel/Delete icon.
.cancel .icon, .delete .icon {
	background-image: url('../images/delete.png');
}
.cancel:hover .icon, .delete:hover .icon {
	background-image: url('../images/delete_active.png');
}

// Share icon.
.share .icon {
	background-image: url('../images/share.png');
}
.share:hover .icon {
	background-image: url('../images/share_active.png');
}

// Reply/Submit suggestion/comment icon.
.reply .icon, .submit .icon {
	background-image: url('../images/reply.png');
}
.reply:hover .icon, .submit:hover .icon {
	background-image: url('../images/reply_active.png');
}

// Voting.
.votes div {
	@extend .clickable;
	width: 20px;
	height: 20px;
	background-size: 100%;
	margin: 0.5rem auto;
}

// Vote up icon.
.votes .up {
	background-image: url('../images/like.png');
}
.votes .up:hover, .votes .up.selected {
	background-image: url('../images/like_active.png');
}

// Vote down icon.
.votes .down {
	background-image: url('../images/dislike.png');
}
.votes .down:hover, .votes .down.selected {
	background-image: url('../images/dislike_active.png');
}