h1, h2, h3, h4, p, body {
  margin: 0px;
  color: #191919; }

h1 {
  font-size: 1.5em;
  line-height: 1.3em; }

h2 {
  font-size: 1.2em;
  line-height: 1.0em; }

h3, h4, p {
  font-size: 1em;
  line-height: 0.8em; }

body {
  background-color: whitesmoke; }
  body .wrapper {
    margin-top: 5em; }

.suggestions #comments {
  position: absolute;
  left: 100%; }

.comments #suggestions {
  position: absolute;
  right: 100%; }

@media (min-width: 768px) {
  #suggestions, #comments {
    position: static !important;
    width: 48%;
    display: inline-block;
    vertical-align: top;
    min-height: 90%; }

  #suggestions {
    margin-right: 2%;
    border-right: #191919 1px solid; } }
.navbar-default {
  background-color: #a03619;
  border-color: #a03619; }
  .navbar-default .navbar-toggle {
    border-color: #a03619; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: whitesmoke; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #a03619;
    border-color: #a03619; }
    .navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
      background-color: #b7b7b7; }
  .navbar-default .navbar-brand {
    color: whitesmoke; }
    .navbar-default .navbar-brand .logo {
      background-image: url("../images/logo.png");
      background-size: 100%;
      width: 1.2em;
      height: 1.2em;
      display: inline-block; }
    .navbar-default .navbar-brand .name {
      display: inline-block;
      vertical-align: top; }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #b7b7b7; }
  .navbar-default .navbar-nav li a {
    color: whitesmoke; }
  .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
    color: #b7b7b7; }

.suggestion {
  position: relative; }
  .suggestion .votes {
    position: absolute;
    top: 0;
    left: 0;
    width: 5em;
    text-align: center; }
  .suggestion .content {
    margin-left: 5em;
    position: relative; }
    .suggestion .content .text {
      color: #a03619;
      min-height: 1.5em; }
    .suggestion .content .info .reply {
      display: inline-block;
      margin-right: 1em; }
    .suggestion .content .info .share {
      display: inline-block;
      margin-right: 1em; }
    .suggestion .content .info .author {
      display: inline-block;
      margin-right: 1em; }
    .suggestion .content .info .delete {
      display: inline-block;
      margin-right: 1em; }

.comment {
  margin-top: 0.5em; }
  .comment .text {
    min-height: 1.5em; }
