@import '../vendor/bootstrap';
@import 'colours';

h1, h2, h3, h4, p, html {
	margin: 0px;
	color: $tertiaryColour;
	font-size: 14px;
	line-height: 14px;
}

h1 {
	font-size: 1.5rem;
	line-height: 1.5rem;
}

h2 {
	font-size: 1.2rem;
	line-height: 1.0rem;
}


body {
	background-color: $secondaryColour;
	.wrapper {
		margin-top: 5.1rem; // Takes the fixed header into account.
		font-size: 0;
		#comments, #suggestions {
			font-size: 1rem;
		}
	}
}

.clickable {
	cursor: pointer;
}

a {
	@extend .clickable
}

.suggestions {
	#comments {
		position: absolute;
		left: 100%;
	}
}

.comments {
	#suggestions {
		position: absolute;
		right: 100%;
	}
}

form {
	margin: 0.5rem;
	input {
		width: 100%;
		min-height: 3rem;
	}
	.submit, .cancel {
		display: inline-block;
	}
	.cancel {
		margin-right: 1rem;
	}
}

.back {
	text-align: center;
	margin: 1rem;
}

@media (min-width: 768px) {
	.container {
		width: 98%;
		padding: 0 5px;
	}

	#suggestions, #comments {
		position: static !important;
		width: 49%;
		display: inline-block;
		vertical-align: top;
		min-height: 90%;
	}

	#suggestions {
		border-right: $quaternaryColour 1px solid;
	}

	.back {
		display: none;
	}
}

@media (min-width: 1300px) {
	.container {
		width: 80%;
	}
}

@media (min-width: 1500px) {
	.container {
		width: 70%;
	}
}

@import 'header';
@import 'suggestion';
@import 'comment';

