body {
  background-color: whitesmoke; }
  body .wrapper {
    margin-top: 5em; }

.navbar-default {
  background-color: #a03619;
  border-color: #a03619; }
  .navbar-default .navbar-toggle {
    border-color: #a03619; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: whitesmoke; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #a03619;
    border-color: #a03619; }
    .navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
      background-color: #b7b7b7; }
  .navbar-default .navbar-brand {
    color: whitesmoke; }
    .navbar-default .navbar-brand .logo {
      background-image: url("../images/logo.png");
      background-size: 100%;
      width: 1.2em;
      height: 1.2em;
      display: inline-block; }
    .navbar-default .navbar-brand .name {
      display: inline-block;
      vertical-align: top; }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #b7b7b7; }
  .navbar-default .navbar-nav li a {
    color: whitesmoke; }
  .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
    color: #b7b7b7; }

.suggestion {
  position: relative; }
  .suggestion .votes {
    position: absolute;
    top: 0;
    left: 0;
    width: 5em;
    text-align: center; }
  .suggestion .content {
    margin-left: 5em;
    position: relative; }
    .suggestion .content .text {
      color: #a03619; }
    .suggestion .content .info .reply {
      display: inline-block;
      margin-right: 1em; }
    .suggestion .content .info .share {
      display: inline-block;
      margin-right: 1em; }
    .suggestion .content .info .author {
      display: inline-block;
      margin-right: 1em; }
    .suggestion .content .info .delete {
      display: inline-block;
      margin-right: 1em; }
