@import 'colours';

h1, h2, h3, h4, p, body {
	margin: 0px;
	color: $tertiaryColour;
}

h1 {
	font-size: 1.5em;
	line-height: 1.3em;
}

h2 {
	font-size: 1.2em;
	line-height: 1.0em;
}

h3, h4, p {
	font-size: 1em;
	line-height: 0.8em;
}


body {
	background-color: $secondaryColour;
	.wrapper {
		margin-top: 5em; // Takes the fixed header into account.
	}
}

#comments {
	position: absolute;
	left: 100%;
}
@import 'header';
@import 'suggestion';
@import 'comment';

