@import 'colours';

// Font styles.
h1, h2, h3, h4, p, html {
	margin: 0px;
	color: $tertiaryColour;
	font-size: 14px;
	line-height: 14px;
}

h1 {
	font-size: 1.5rem;
	line-height: 1.5rem;
}

h2 {
	font-size: 1.2rem;
	line-height: 1.0rem;
}

// Layout of the main elements (such as body, wrapper, etc).
body {
	overflow-x: hidden;
	background-color: $secondaryColour;
	.wrapper {
		margin-top: 5.1rem; // Takes the fixed header into account.
		font-size: 0;
		#comments, #suggestions {
			font-size: 1rem;
		}
		.user {
			min-height: 3rem;
			text-align: center;
		}
		#suggestions.allUsers {
			.user {
				display: none;
			}
		}
		#suggestions:not(.allUsers) {
			#postSuggestion {
				display: none;
			}
		}
		form {
			margin: 0.5rem;
			margin-bottom: 1rem;
			input {
				width: 100%;
				min-height: 3rem;
			}
			.submit, .cancel {
				display: inline-block;
			}
			.cancel {
				margin-right: 1rem;
			}
		}
	}
}

// Elements that should use a pointer.
.clickable {
	cursor: pointer;
}

a {
	@extend .clickable
}

// Switching between suggestions and comments on mobile.
.wrapper.suggestions {
	#comments {
		position: absolute;
		left: 100%;
	}
}

.wrapper:not(.suggestions) {
	#suggestions {
		position: absolute;
		right: 100%;
	}
}

// Back to suggestions.
.back {
	text-align: center;
	margin: 1rem;
}
#suggestions.allUsers .back {
	display: none;
}
#suggestions:not(.allUsers) .back {
	display: block;
}

// No suggestions/comments
.empty, .noSuggestion {
	text-align: center
}

@media (min-width: 768px) {
	.container {
		width: 98%;
		padding: 0 5px;
	}

	#suggestions, #comments {
		position: static !important;
		width: 50%;
		display: inline-block;
		vertical-align: top;
		min-height: 90%;
	}

	#suggestions {
		border-right: $quaternaryColour 1px solid;
	}

	#comments .back {
		display: none;
	}
}

@media (min-width: 1300px) {
	.container {
		width: 80%;
	}
}

@media (min-width: 1500px) {
	.container {
		width: 70%;
	}
}

@import 'header';
@import 'suggestion';
@import 'comment';
@import 'icons';

