$votesWidth: 5em;

.suggestion {
	position: relative;
	padding: 0.5rem;
	border-bottom: $quaternaryColour 1px solid;
	.votes {
		position: absolute;
		top: 0;
		left: 0;
		width: $votesWidth;
		text-align: center;
		.up {

		}
		.score {

		}
		.down {

		}
	}
	.content {
		margin-left: $votesWidth;
		position: relative;
		.text {
			color: $primaryColour;
			min-height: 2.2rem;
		}
		.info {
			.reply {
				display: inline-block;
				margin-right: 1rem;
				.icon {

				}
			}
			.share {
				display: inline-block;
				margin-right: 1rem;
				.icon {

				}
			}
			.author {
				display: inline-block;
				margin-right: 1rem;

			}
			.delete {
				display: inline-block;
				margin-right: 1rem;
				.icon {

				}
			}
		}
	}
}