$votesWidth: 5em;

.suggestion {
	position: relative;
	padding: 0.5rem;
	border-bottom: $quaternaryColour 1px solid;

	/* Suggestion voting and score. */
	.votes {
		position: absolute;
		top: 0;
		left: 0;
		width: $votesWidth;
		text-align: center;
		h2 {
			font-size: 1rem;
		}
		span {
			font-size: 1.2rem;
			display: block;
		}
	}

	/* Content of the suggestion (text and info). */
	.content {
		margin-left: $votesWidth;
		position: relative;
		margin-right: 0.5rem;

		/* The actual suggestion as text. */
		.text {
			@extend .clickable;
			color: $primaryColour;
			margin: 1rem 0;
			min-height: 2.4rem;
		}

		/* Suggestion information (replies, shares, author, delete). */
		.info {
			.reply, .share, .delete, .author {
				display: inline-block;
				margin-right: 1rem;
			}

			/* Share drop down. */
			.shareDropDown {
				z-index: 1;
				display: none;
				background-color: white;
				padding: 1rem;
				position: absolute;
				border: 1px solid rgba(0, 0, 0, 0.15);
				border-radius: 4px;
				-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
				box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
				background-clip: padding-box;
				a {
					padding: 0.1rem 1rem;
					margin: 0.9rem 0rem;
				}
				a:not(:first-child) {
					border-left: $tertiaryColour 1px solid;
				}
			}

			.share:hover .shareDropDown, .share.selected .shareDropDown {
				display: block;
			}
		}
	}
}

/* Seleted suggestion. */
.suggestion.selected {
	background-color: $primaryColour;
	.content .text {
		color: $secondaryColour;
	}
	.author a {
		color: $quaternaryColour;
	}
	.author a:hover {
		color: $secondaryColour;
	}
}
