head
	link(href='../styles/bootstrap.min.css', rel='stylesheet')
	link(href='../styles/index.css', rel='stylesheet')
body
	// Header.
	.navbar.navbar-default.navbar-fixed-top(role='navigation')
		.container
			.navbar-header
				// Menu icon.
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar

				// Brand containing logo and name.
				a.navbar-brand(href="#")
					.logo
					.name Don't Try This on Earth
			.collapse.navbar-collapse#navbar
				// Navigation links.
				ul.nav.navbar-nav.navbar-right
					li: a(href="#") Sign In

	// Content (suggestions and comments).
	.container.wrapper.suggestions
		section#suggestions
			form#PostSuggestion
				input(type='paragraph', placeholder='Please write your suggestion here...')
				.clickable.cancel
					.icon
					| Cancel
				.clickable.submit
					.icon
					| Post suggestion
			.suggestion
				.votes
					.up
					h2.score 10
					.down
				.content
					h1.text "First person to moonwalk on Mars"
					.info
						.clickable.reply
							.icon
							| 0 Replies
						.clickable.share
							.icon
							| 2 Shares
						.author 
							| Posted by 
							a.clickable Alan
							|  3hrs ago
						.clickable.delete
							.icon
							| Delete
		section#comments
			form#PostComment
				input(type='paragraph', placeholder='Please write your comment here...')
				.clickable.cancel
					.icon
					| Cancel
				.clickable.submit
					.icon
					| Post comment
			.comment
				h2.text This is a comment.
				.author 
					| Posted by 
					a.clickable Alan
					|  3hrs ago
	script(src='../scripts/jquery-1.11.0.min.js')
	script(src='../scripts/bootstrap.min.js')
	script(src='../scripts/index.js')
