head
	link(href='../styles/bootstrap.min.css', rel='stylesheet')
	link(href='../styles/index.css', rel='stylesheet')
body
	script(src='../scripts/jquery-1.11.0.min.js')
	script(src='../scripts/bootstrap.min.js')
	script(src='../scripts/index.js')
