head
	link(href='../styles/bootstrap.min.css', rel='stylesheet')
	link(href='../styles/index.css', rel='stylesheet')
body
	p#identifier.class Hello World
	script(src='../scripts/bootstrap.min.js')
	script(src='../scripts/index.js')
