head
	link(href='vendor/bootstrap.min.css', rel='stylesheet')
	link(href='styles/main.css', rel='stylesheet')
	script(src='vendor/cookies.min.js')
body
	// Header.
	.navbar.navbar-default.navbar-fixed-top(role='navigation')
		.container
			.navbar-header
				// Menu icon.
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar

				// Brand containing logo and name.
				a.navbar-brand(href="#")
					.logo
					.name Don't Try This on Earth
			.collapse.navbar-collapse#navbar
				// Navigation links.
				ul.nav.navbar-nav.navbar-right
					li.account: a(href='#') View Suggestions
					li.account: a(href='#') Sign Out
					// Sign in drop down.
					li.dropdown
						a.dropdown-toggle(data-toggle='dropdown')
							| Sign In
							b.caret
						ul.dropdown-menu
							li
								form.navbar-form.navbar-left(role='search')
									.form-group
										| Email
										input.form-control(type='text', placeholder='Email')
										| Password
										input.form-control(type='password', placeholder='Password')
									button.btn.btn-default(type='submit') Submit

	// Content (suggestions and comments).
	.container.wrapper.suggestions
		// Section containing suggestions.
		section#suggestions.allUsers
			// Form for posting a new suggestion.
			form#postSuggestion
				input(type='paragraph', placeholder='Please write your suggestion here...')
				.clickable.cancel
					.icon
					| Cancel
				.clickable.submit
					.icon
					| Post suggestion

			.user
				= 'All suggestions for '
				a user222567

			#suggestionsContainer
		
		// Section containing comments.					
		section#comments
			// Form for posting a new comment.
			form#PostComment
				input(type='paragraph', placeholder='Please write your comment here...')
				.clickable.cancel
					.icon
					| Cancel
				.clickable.submit
					.icon
					| Post comment

			#commentsContainer

			h2.clickable.back
				| Return to suggestions
				.icon
	script(src='vendor/jquery-1.11.0.min.js')
	script(src='vendor/bootstrap.min.js')
	script(src='scripts/main.js')
