/* Font styles. */
html {
  color: #191919;
  font-size: 16px;
  line-height: 1.62857143; }

h1 {
  font-size: 20px;
  line-height: 2; }

h2 {
  font-size: 18px;
  line-height: 1.8; }

@media screen and (min-device-width: 900px) and (min-device-height: 900px) and (min-width: 800px) {
  html {
    color: #191919;
    font-size: 14px;
    line-height: 1.42857143; }

  h1 {
    font-size: 18px;
    line-height: 1.6; }

  h2 {
    font-size: 16px;
    line-height: 1.5; } }
/* Layout of the main elements (such as body, wrapper, etc). */
body {
  overflow-x: hidden;
  background-color: whitesmoke; }
  body .wrapper {
    margin-top: 5.1rem;
    /* Takes the fixed header into account. */
    font-size: 0; }
    body .wrapper #comments, body .wrapper #suggestions {
      font-size: 1rem; }
    body .wrapper .user {
      min-height: 3rem;
      text-align: center; }
    body .wrapper #suggestions.allUsers .user {
      display: none; }
    body .wrapper #suggestions:not(.allUsers) #postSuggestion {
      display: none; }
    body .wrapper form {
      margin: 0.5rem;
      margin-bottom: 1rem; }
      body .wrapper form input {
        width: 100%;
        min-height: 3rem; }
      body .wrapper form .submit, body .wrapper form .cancel {
        display: inline-block; }
      body .wrapper form .cancel {
        margin-right: 1rem; }

/* Elements that should use a pointer. */
.clickable, a, .suggestion .content .text, .votes div {
  cursor: pointer; }

/* Switching between suggestions and comments on mobile. */
.wrapper.suggestions #comments {
  position: absolute;
  right: 100%; }

.wrapper:not(.suggestions) #suggestions {
  position: absolute;
  right: 100%; }

/* Back to suggestions. */
.back {
  text-align: center;
  margin: 1rem; }

#suggestions.allUsers .back {
  display: none; }

#suggestions:not(.allUsers) .back {
  display: block; }

/* No suggestions/comments */
.empty, .noSuggestion {
  text-align: center; }

@media screen and (min-device-width: 900px) and (min-device-height: 900px) and (min-width: 800px) {
  .container {
    width: 98%;
    padding: 0 5px; }

  #suggestions, #comments {
    position: static !important;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    min-height: 90%; }

  #suggestions {
    border-right: #b7b7b7 1px solid; }

  #comments .back {
    display: none; } }
@media screen and (min-device-width: 900px) and (min-device-height: 900px) and (min-width: 1300px) {
  .container {
    width: 80%; } }
@media screen and (min-device-width: 900px) and (min-device-height: 900px) and (min-width: 1500px) {
  .container {
    width: 70%; } }
.navbar-default {
  background-color: #a03619;
  border-color: #a03619;
  /* Menu icon when it is not in use. */
  /* Menu icon when it is hovered over or focused on. */
  /* Brand including logo and name. */
  /* Nav links. */
  /* Forms. */ }
  .navbar-default .navbar-toggle {
    border-color: #a03619;
    /* Three lines for the menu icon. */ }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: whitesmoke; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #a03619;
    border-color: #a03619;
    /* Three lines for the menu icon. */ }
    .navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
      background-color: #b7b7b7; }
  .navbar-default .navbar-brand {
    color: whitesmoke; }
    .navbar-default .navbar-brand .logo {
      background-image: url("../images/logo.png");
      background-size: 100%;
      width: 1.2em;
      height: 1.2em;
      display: inline-block; }
    .navbar-default .navbar-brand .name {
      display: inline-block;
      vertical-align: top; }
  .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #b7b7b7; }
  .navbar-default .navbar-nav li a {
    color: whitesmoke; }
  .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
    color: #b7b7b7; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #b7b7b7; }
  .navbar-default .navbar-nav .account {
    display: none; }
  .navbar-default .navbar-nav.signedIn .account {
    display: block; }
  .navbar-default .navbar-nav.signedIn li:not(.account) {
    display: none; }
  .navbar-default .dropdown-menu {
    color: whitesmoke;
    /* Removes some bootstrap styling. */ }
    .navbar-default .dropdown-menu .form-control {
      margin-bottom: 0.2rem; }
    .navbar-default .dropdown-menu .navbar-form {
      margin: 0;
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
    @media (min-width: 768px) {
      .navbar-default .dropdown-menu {
        color: #191919; }
        .navbar-default .dropdown-menu .form-control {
          background-color: transparent; } }

.suggestion {
  position: relative;
  padding: 0.5rem;
  border-bottom: #b7b7b7 1px solid;
  /* Suggestion voting and score. */
  /* Content of the suggestion (text and info). */ }
  .suggestion .votes {
    position: absolute;
    top: 0;
    left: 0;
    width: 5em;
    text-align: center; }
  .suggestion .content {
    margin-left: 5em;
    position: relative;
    margin-right: 0.5rem;
    /* The actual suggestion as text. */
    /* Suggestion information (replies, shares, author, delete). */ }
    .suggestion .content .text {
      color: #a03619;
      margin: 1rem 0; }
    .suggestion .content .info {
      /* Share drop down. */ }
      .suggestion .content .info .reply, .suggestion .content .info .share, .suggestion .content .info .delete, .suggestion .content .info .author {
        display: inline-block;
        margin-right: 1rem; }
      .suggestion .content .info .shareDropDown {
        z-index: 1;
        display: none;
        background-color: white;
        padding: 1rem;
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box; }
        .suggestion .content .info .shareDropDown a {
          padding: 0.1rem 1rem;
          margin: 0.9rem 0rem; }
        .suggestion .content .info .shareDropDown a:not(:first-child) {
          border-left: #191919 1px solid; }
      .suggestion .content .info .share:hover .shareDropDown, .suggestion .content .info .share.selected .shareDropDown {
        display: block; }

/* Seleted suggestion. */
.suggestion.selected {
  background-color: #a03619; }
  .suggestion.selected .content .text {
    color: whitesmoke; }
  .suggestion.selected .author a {
    color: #b7b7b7; }
  .suggestion.selected .author a:hover {
    color: whitesmoke; }

.comment {
  margin-top: 0.4em;
  padding: 0.5rem;
  border-bottom: #b7b7b7 1px solid; }
  .comment .text {
    min-height: 1.5em; }

/* Icons. */
.icon {
  width: 1rem;
  height: 1rem;
  background-size: 100%;
  display: inline-block;
  margin-right: 3px; }

/* Cancel/Delete icon. */
.cancel .icon, .delete .icon {
  background-image: url("../images/delete.png"); }

.cancel:hover .icon, .delete:hover .icon {
  background-image: url("../images/delete_active.png"); }

/* Share icon. */
.share .icon {
  background-image: url("../images/share.png"); }

.share:hover .icon {
  background-image: url("../images/share_active.png"); }

/* Reply/Submit suggestion/comment icon. */
.reply .icon, .submit .icon {
  background-image: url("../images/reply.png"); }

.reply:hover .icon, .submit:hover .icon {
  background-image: url("../images/reply_active.png"); }

/* Voting. */
.votes div {
  width: 20px;
  height: 20px;
  background-size: 100%;
  margin: 0.5rem auto; }

/* Vote up icon. */
.votes .up {
  background-image: url("../images/like.png"); }

.votes .up:hover, .votes .up.selected {
  background-image: url("../images/like_active.png"); }

/* Vote down icon. */
.votes .down {
  background-image: url("../images/dislike.png"); }

.votes .down:hover, .votes .down.selected {
  background-image: url("../images/dislike_active.png"); }
